.container {
  width: 960px;
  margin: 0 auto;
  font-size: 14px;
}

::-webkit-scrollbar {
  display: none;
}

.welcome-header-wrap {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 3000;
}

header {
  background: rgba(251, 251, 250, 0.96);
  position: absolute;
  width: 100%;
  font-size: 14px;
  height: 70px;
  line-height: 70px;
}
.header-nav .logo {
  position: absolute;
  display: inline-block;
  width: 116px;
  height: 36px;
  top: 50%;
  margin-top: -16px;
  font-size: 18px;
  font-family: system-ui;
}
.header-nav {
  position: relative;
  top: 21px;
  line-height: 28px;
}

.header-nav .header-nav-item-info {
  position: relative;
  float: right;
  margin-left: 34px;
  font-size: 12px;
}
.header-nav .header-nav-item {
  position: relative;
  float: right;
  margin-left: 32px;
}



.header-nav-item.active:after,.header-nav-item-info.active:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 1px;
  width: 90%;
  background-color: #d09a56;
}
.header-nav-item.active a ,.header-nav-item-info.active a{
  color: #d09a56;
}
.header_vline {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #e7e7e7;
  margin: 0 10px;
}
/* banner-start */
.banner-wrap {
  position: relative;
  margin-top: 70px;
}
.banner {
  position: relative;
  width: 100%;
 
  left: 0;
  z-index: 5;

}
.banner .slide-item {
  position: absolute;
  width: 100%;
  min-width: 950px;

}
.banner .slide-item img {
  width: 100%;
  display: block;
}
/* bill-start */
.bg1 {
  width: 100%;
  height: 400px;
  background-color: #ffdebd;
}
.bg1-c {
  width: 100%;
  height: 100%;
  background: url("../img/bcg2.png") center top no-repeat;
}
.mainContent {
  position: relative;
  margin: -300px auto 0 auto;
  width: 1008px;
  min-height: 980px;
  background-color: #f8f8f8;
  border-radius: 0 4px 4px 4px;
  line-height: 18px;
}
#type,
#box {
  background-color: #fff;
  box-shadow: inset -1px 0 0 0 #fff, inset 1px 0 0 0 #fff;
  border-radius: 0 4px 4px 4px;
}

.type-menu {
  color: #fff;
  height: 40px;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 0 4px 0 0;
  background: #ffedd6;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -3px 3px 0 rgba(7, 12, 37, 0.01);
}
.type-menu-ul {
  height: 100%;
  border-bottom: 0;
}
.type-menu li {
  position: relative;
  float: left;
  z-index: 100;
  top: 0;
  width: 80px;
}

.type-menu li.animation {
  position: absolute;
  color: #fff;
  height: 26px;
  width: 80px;
  top: 7px;
  background: #ffc041;
  font-size: 13px;
  left: 30px;
  z-index: 150;
  line-height: 26px;
  text-align: center;
  background-image: -webkit-linear-gradient(135deg, #febe3f 0, #eea822 100%);
  background-image: -moz-linear-gradient(135deg, #febe3f 0, #eea822 100%);
  background-image: linear-gradient(135deg, #febe3f 0, #eea822 100%);
  border-radius: 13px;
  box-shadow: 0 5px 8px -6px rgba(130, 72, 0, 0.12);
}
.type-menu-ul li a {
  position: relative;
  color: #312f2c;
  font-size: 13px;
  text-align: center;
  opacity: 0.8;
}
.tm-n a {
  display: block;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
}
.tm-n a:hover {
  color: orange;
}
.type-menu-ul li:nth-child(2) {
  margin-left: 30px;
}
.type-menu li.animation:after {
  display: none;
}
.type-box {
  padding-top: 35px;
}
.bill-edit-box,.behavior-edit-box {
  padding-top: 16px;
  border: 1px solid orange;
}
.bill-edit-box .btn-wrap {
  float: right;
}
.behavior-edit-box .btn-wrap {
  float: right;
}

.bill-delete-btn,
.bill-save-btn {
  margin-left: 10px;
  border:  1px solid #e6e7e9;
  padding: 5px;
  outline: none;
}
.behavior-delete-btn,
.behavior-save-btn {
  margin-left: 10px;
  border:  1px solid #e6e7e9;
  padding: 5px;
  outline: none;
}
.bill-delete-btn:hover,.behavior-delete-btn:hover {
  color: red;
}
.bill-save-btn:hover,.behavior-save-btn:hover{
  color: orange;
}
.type-box label {
  float: left;
  vertical-align: middle;
  text-align: right;
  line-height: 26px;
  width: 68px;
  padding-right: 8px;
  font-size: 12px;
  color: #312f2c;
}
.type-box span {
  position: relative;
  display: block;
  float: left;
}

.type-box span a {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 2px;
  left: 2px;
  z-index: 101;
  background: url(../img/icon.png) 0 -109px no-repeat;
  background-size: 22px auto;
}

.input-select {
  box-sizing: border-box;
  display: block;
  color: #2e2e2e;
  height: 26px;
  line-height: 21px;
  width: 136px;
  cursor: pointer;
  padding: 2px 24px 2px 29px;
  text-indent: 0;
  margin: 0;
  border: 1px solid #e6e7e9;
  background: #fff url(../img/icon.png) 106px -6px
    no-repeat;
  background-size: 22px auto;
  font: 12px "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Light", Helvetica,
    sans-serif, Arial, tahoma, "Hiragino Sans GB", Mingliu;
}
.select-wrap {
  position: absolute;
  z-index: 1200;
  left: 0;
  top: 28px;
  width: 136px;
  border: 0;
  background-color: #fff;
  box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.06),
    0 2px 2px -1px rgba(0, 0, 0, 0.06), 1px 0 2px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 3px 3px;
}
.select-wrap li {
  position: relative;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
}

.select-wrap li > span {
  display: inline-block;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-wrap li:hover {
  background-image: -moz-linear-gradient(
    270deg,
    rgba(255, 233, 198, 0.14) 0,
    rgba(255, 233, 198, 0.46) 100%
  );
  background-image: linear-gradient(
    270deg,
    rgba(255, 233, 198, 0.14) 0,
    rgba(255, 233, 198, 0.46) 100%
  );
}

.highlight-border input {
  position: relative;
  line-height: 22px;
  top: -1px;
  border-radius: 2px 2px 0 0;
  border: none !important;
  border-top: 2px solid #e79d05 !important;
  box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.06),
    0 -1px 2px -1px rgba(0, 0, 0, 0.06), 1px 0 2px -1px rgba(0, 0, 0, 0.06);
  z-index: 100;
  position: relative;
  background-position: 107px -60px !important;
  padding-left: 30px;
}
.type-box .tb-li {
  float: left;
  position: relative;
  margin-left: 15px;
}

.bill-edit-box .tb-li,.behavior-edit-box .tb-li {
  margin-left: 0px;
 
}
.type-box-wrap {
  margin: 0 auto;
}
.type-box-ul {
  margin-bottom: 16px;
}

.input-write {
  width: 136px;
  height: 26px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 2px 0 2px 5px;
  float: left;
  color: #2e2e2e;
  border: 1px solid #e6e7e9;
}
.remark {
  width: 190px;
  border: none;
  border-bottom: 1px solid #e6e7e9;
}
.input-write:focus {
  border: 1px solid #e79d05 !important;
  box-shadow: 0 0 1px #e79d05;
}
.remark:focus {
  border: none !important;
  border-bottom: 1px solid #e79d05 !important;
  box-shadow: none !important;
}
.edit-btn {
  position: relative;
  display: block;
  border: 0;
  width: 161px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  margin-left: 45px;
}
.btn-common-yellow {
  display: block;
  border: 0;
  color: #fff;
  background: #f7b432;
  text-align: center;
  cursor: pointer;
  background-image: -webkit-linear-gradient(135deg, #febe3f 0, #eba51e 100%);
  background-image: -moz-linear-gradient(135deg, #febe3f 0, #eba51e 100%);
  background-image: linear-gradient(135deg, #febe3f 0, #eba51e 100%);
  border-radius: 3px;
  box-shadow: 0 8px 12px -6px rgba(167, 86, 0, 0.16);
  outline: 0;
}

.edit-btn:hover {
  background-image: linear-gradient(135deg, #fea637 0, #ed901a 100%);
}
#type {
  height: 140px;
  margin-bottom: 8px;
}

.detail-box-title {
  height: 70px;
  clear: both;
  position: relative;
  color: #312f2c;
  background: -webkit-linear-gradient(top, #fdfdfd 50%, #fff);
  background: -moz-linear-gradient(top, #fdfdfd 50%, #fff);
  background: linear-gradient(to bottom, #fdfdfd 50%, #fff);
}

.detail-box-title h4 {
  float: left;
  font-size: 18px;
  margin-right: 8px;
  line-height: 86px;
  padding-left: 24px;
}
.detail-box-title .date {
  float: left;
  position: relative;
}
.detail-box-title .date span {
  font-size: 13px;
  font-weight: bold;
  line-height: 89px;
}
.detail-box-title .total {
  float: right;
  padding-right: 20px;
  height: 70px;
  line-height: 90px;
  font-size: 12px;
}
.line {
  height: 12px;
  margin: 0 12px;
  border-right: 1px solid #e7e7e7;
  width: 1px;
}
.number {
  padding-left: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: Helvetica, sans-serif, Arial, tahoma, "Hiragino Sans GB", Mingliu;
}
/* ------------------------ */
.filter-content {
  width: 984px;
  padding-bottom: 53px;
  margin: 20px auto 0 auto;
}
.fc-left {
  position: relative;
  width: 160px;
  float: left;
}
.fcy-box,.fcy-box-s {
  position: relative;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  padding-left: 24px;
  text-align: left;
  color: #312f2c;
  letter-spacing: 3px;
  border: 1px solid #e1e1e3;
  border-left: none;
  box-shadow: 0 1px 1px 0 #eee;
  font-weight: bold;
}

.frc-next,
.frc-prev {
  display: block;
  position: relative;
  height: 20px;
  border-right: 1px solid #e7e7e7;
  opacity: 0.96;
  background: #f5f5f7 url(../img/icon.png)
    70px -1348px no-repeat;
  background-size: 22px auto;
  box-shadow: 0 1px #eee;
}
.frc-prev {
  background-position: 70px -1391px;
  box-shadow: -1px -1px 1px -1px #eee;
  box-shadow: 0 1px #efefef;
}
.frc-prev:hover,
.frc-next:hover {
  background-color: #f0eeee;
  border-bottom-color: #ebebeb;
  box-shadow: inset 0 1px #f5f4f4;
}
.fc-month {
  height: 501px;
  cursor: default;
  overflow: hidden;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.fc-month-box {
  position: absolute;
  width: 160px;
  top: 0;
  left: 0;
  border-right: 1px solid #e7e7e7;
}
.year-num div,.year-num-s div  {
  height: 34px;
  font-size: 14px;
  color: #312f2c;
  letter-spacing: 2px;
  line-height: 34px;
  text-align: center;
  background: #fafafc;
}

.fc-month .month {
  position: relative;
  height: 72px;
  border-bottom: 1px solid #eaeaec;
}
.fc-month .month:hover {
  background-image: linear-gradient(
    270deg,
    rgba(255, 233, 198, 0.14) 0,
    rgba(255, 233, 198, 0.46) 100%
  );
}

.fc-month .month ul.month-l {
  float: right;
  padding-top: 20px;
  height: 70px;
  width: 83px;
  font-size: 11px;
  font-family: Helvetica, sans-serif, Arial, tahoma, "Hiragino Sans GB", Mingliu;
}
.fc-month .month ul.month-l li {
  text-align: right;
  line-height: 18px;
  padding-right: 21px;
}
.fc-month .month ul.month-r {
  position: relative;
  float: left;
  height: 70px;
  width: 56px;
}
.fc-month .month-num {
  display: block;
  position: relative;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 28px;
  color: #312c2c;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  padding-right: 16px;
  margin-top: 23px;
}
.fc-month .month-num::before {
  content: "month";
  position: absolute;
  right: -30px;
  bottom: 2px;
  font-size: 14px;
  color: rgb(49, 44, 44);
  transform: scale(0.833333);
  font-family: "Microsoft YaHei", "Helvetica Light", Helvetica, sans-serif,
    Arial;
  font-weight: normal;
}
.month-active:before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 72px;
  top: -1px;
  left: 0;
  background-color: #e79d05;
}
.month-active:after {
  content: " ";
  position: absolute;
  width: 4px;
  height: 71px;
  top: 0;
  right: -1px;
  background-color: #fff;
}
.detail-box {
  background-color: #fff;
  box-shadow: inset -1px 0 0 0 #fff, inset 1px 0 0 0 #fff;
  border-radius: 0 4px 4px 4px;
}

/* ----------------------------- 
*/
.fc-right {
  float: left;
  width: 824px;
}
.fc-right .title {
  height: 30px;
  font-weight: normal;
  border-top: 1px solid #eaeaec;
  border-bottom: 1px solid #eaeaec;
  color: #808080;
}

.fc-right .list {
  margin-left: 15px;
}

.list .list-date {
  border-bottom: 1px solid #eaeaec;
  height: 37px;
  line-height: 35px;
}

.list .list-date .date {
  float: left;
}
.list .list-date .total {
  float: right;
  margin-right: 300px;
}
.list .list-date .total div {
  display: inline-block;
}
.list .list-date .total .income {
  margin-right: 15px;
}
.list .list-date .total div span {
  margin-left: 5px;
}

.list-date .day {
  color: #312f2c;
  font-size: 16px;
  font-weight: bold;
  padding-right: 5px;
}

.list-date .s-month,
.list-date .s-year {
  color: #aaa;
  font-size: 12px;
  padding: 0 5px;
}

.fc-right .list .list-box {
  height: 30px;
  font-weight: normal;
  border-bottom: 1px solid #eaeaec;
  background: #f8f8fa;
}
.fc-right .list .list-box:hover {
  background-image: linear-gradient(
    270deg,
    rgba(255, 233, 198, 0.14) 0,
    rgba(255, 233, 198, 0.46) 100%
  );
}
.fc-right .list .list-box:hover span {
  background: none;
}

.fc-right .title span,
.fc-right .list .list-box span {
  display: block;
  height: 28px;
  line-height: 28px;
  float: left;
  width: 175px;
  background: #fcfcfd;
  margin-left: 30px;
  padding: 0 15px;
  text-align: center;
}

.fc-right .title span:first-child {
  margin-left: 65px;
}
.fc-right .title span:last-child {
  width: 300px;
}
.fc-right .list .list-box span:first-child {
  margin-left: 50px;
}

.fc-right .list .list-box span.name {
  text-align: left;
}
.fc-right .list .list-box span.number {
  text-align: right;
}
.fc-right .list .list-box span.s-remark {
  text-align: center;
  width: 300px;
}
.fc-right .list .list-box span.days{
  text-align: center;
}
.fc-right .list .list-box span{
  cursor: default;
}
.duration{
  float: right;
  

    padding-right: 20px;
    height: 70px;
    line-height: 90px;
    font-size: 12px;
}
/* --------------------------------- */
.article-item {
  width: 900px;
  min-height: 70px;
  margin: 10px auto;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
}
.article-content {
  margin-top: 10px;
}
.diary .mainContent {
  background: rgb(250 250 250);
}
.article-detail .article-item {
  cursor: default;
}
.title-edit-area,
.editBtnDiv,
.editDiv,
.saveBtnDiv {
  width: 900px;
  margin: 10px auto;
}
.article-title-edit input {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  color: orange;
  height: 39px;
}
.article-title-edit input:focus {
  border: 1px solid orange;
}
.editBtnDiv .article-btn {
  width: 80px;
  float: right;
  margin-left: 15px;
}
.editDiv textarea {
  margin-top: 15px;
  width: 100%;
  height: 560px;
  padding: 25px;
}
.editDiv textarea:focus {
  border: 1px solid #e79d05;
  box-shadow: 0 0 5px #e79d05;
  outline: none;
}
.article-save-btn {
  width: 100%;
  margin-left: 0;
}

.type-menu-ul .diary-add-btn {
  float: right;
  margin-right: 15px;
}
.type-menu-ul .diary-add-btn a {
  font-size: 18px;
}
.subject-select {
  width: 15%;
  float: left;
  position: relative;
}

.subject-select .input-select {
  height: 39px;
  border: none;
  background: #fff url(../img/icon.png) 106px
    2px no-repeat;
  background-size: 22px auto;
}
.article-title-edit {
  width: 84%;
  float: right;
}
.subject-select .highlight-border input {
  background-position: 107px -55px !important;
  padding-left: 29px;
}
.article-title h5 {
  color: orange;
  margin-bottom: 8px;
  font-size: 15px;
}
.prompt {
  text-align: center;
  color: grey;
  margin-top: 35px;
  font-family: cursive;
}
.date-choose-wrap {
  cursor: pointer;
  display: inline;
}
.date-choose {
  position: absolute;
  top: 62px;
  width: 340px;
  background: #fff;
}
.date-choose input {
  width: 115px;
  border: 1px solid #e6e7e9;
}
.date-choose input:focus {
  border: 1px solid orange;
}
.date-choose button {
  border: 1px solid #e6e7e9;
  padding: 3px 5px;
  margin-left: 3px;
  outline: none;
}
.date-choose button:hover {
  color: orange;
}

/* modle_overlay */
.cModelOverlay{
  position: fixed;
    background-color: #333;
    z-index: 99995000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: block;
}
.confirm-wrap{
  z-index: 99995001;
  width: 400px;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
}
.confirm-title{
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 14px;
}
.confirm-body{
  height: 150px;
  background-image: linear-gradient(180deg,#fafafc 0,#fff 100%);
}
.confirm-tip{
  height: 70px;
  line-height: 70px;text-align: center;
}
.confirm-btn{
  height: 80px;
  line-height: 80px;
}
.confirm-btn .edit-btn{
  display: inline-block;
  width: 100px;
  margin-left: 0;
}
.confirm-btn .normal{
  background-image: linear-gradient(180deg,#fcfcfd 4%,#f5f5f6 98%);
  border: 1px solid #e1e1e3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03), 0 0 0 0 rgba(0,0,0,0.16), inset 1px 0 0 0 #fff, inset 0 2px 0 0 #fff;
  cursor: pointer;
  margin-left: 15px;
  outline: none;
}
.confirm-btn .normal:hover{
  background: rgba(0,0,0,0.04);
    box-shadow: none;
}
.confirm-close{
  
  float: right;
  position: absolute;
  right: 0;
  top: -29px;
  height: 18px;
  line-height: 18px;
  width: 66px;
  cursor: pointer;
  text-align: right;
  background: url(../img/icon.png) -3px -905px no-repeat;
  background-size: 22px auto;
  font-size: 18px;
  color: #fff!important;
  font-weight: 100!important;
}
.confirm-close:hover{
  color: #e79d05!important;
  background: url(../img/icon.png) -3px -934px no-repeat;
  background-size: 22px auto;
}

/* login-area */
.login-wrap{
  margin-top:-220px;

  text-align: center;
}
.login-div .login-wrap .login-input{
  background: none;
  border-bottom: 1px solid gray; 
  width: 300px;
  padding: 15px;
  text-align: center; 
  margin-top: 40px;
  font-size: 16px;
}
.login-div .login-wrap .login-input:focus{
  border-bottom: 1px solid orange;
}
.login-div .login-wrap .submit .edit-btn{
  display: inline-block;
  margin-top: 60px;
  margin-left: 0px;
  width: 300px;
}
html,body{
  height: 100%;
}
.login-div{
  height: 100%;
  background-color: #ffdebd;
}
.user-login{
  width: 29px;
  text-align: right;
  
}
.user-name{
  width:36px;
  text-align: right;
  
}

.user-logout-btn{
  display: inline-block;
  width: 14px;
  height: 13px;
 
  color: #d09a56;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAAAXNSR0IArs4c6QAAATJJREFUSA29ljEWgjAMhhOf4qA+JwfO4BF0YdXJK+C59ApOujp5BM/g4OQTB2SIDTwq+LC0vECntiT5+NsQAtDxQObd9t4RiFaN2IgnP3yvbX17qWFTmHJGArKFsV2/aOxvk1RxcU96nimUjmqI1zmwdKSGF7N6xMmHRNMRDjeTMLpXOYkqZJjKoMUL3ufnfjxrHcjKEPFKRPN/UFGFfIwj8AITVBTIR1gHFQfWQa2ytEnpiyjWOZPdaXxQG8tWFGpSxcRKoUtxzhn8WXCmsjpOIpVMG4AEWlFYAQvyQiAONMFYvSiwDsZAqztkQ5vxovigSlt+Z/oYi76iCgnxoX6oF642+Z0VYTwXVfjN5uSXo9eiCnVUw6RzYNa17QZOjVBJQKOuTTmVgjgsXLs2h9Ayph9FzpdgmlPaDgAAAABJRU5ErkJggg==) center no-repeat;
  background-size: 14px auto;
  vertical-align: middle;
}

/* img-inf */

.leftNav:after,.rightNav::after{
  border-radius: 6px;
  border-left: 6px solid rgba(255,255,255,.8);
  border-bottom: 6px solid rgba(255,255,255,.8);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
}

.leftNav:after{
  transform: scale(.25) translateX(25%) rotate(45deg);
}
.rightNav:after{
  transform: scale(.25) translateX(-25%) rotate(225deg);
}

.img-inf-btn {
  position: relative;
  cursor: pointer;
  background: rgba(34,34,34,.9);
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 3px;
  
}
.home-div .banner-wrap .img-inf .like{
  width: 30px;
  line-height: 25px;text-align: center;
  color: #fff;
}
.home-div .banner-wrap .img-inf .like:hover{
  color: #fff;
}
.img-inf-btn{
  margin-right: 5px;
  vertical-align: middle;
}
.img-inf-btn:last-child{
  margin-right: 0px;
}
.img-inf{
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 29px;
  z-index: 2001;
}
.img-inf-text{
  background: rgba(34,34,34,.9);
  width: 180px;
  line-height: 19px;
  font-size: 15px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  padding: 15px;
  position: absolute;
  right: 0px;
  bottom: 30px;

}


.img-wrap img{
  width: 300px;
  display: inline-block;
}
.favourite h3{
  font-size: 15px;
  font-weight: normal;
  margin: 25px 0;
}
.favourite ul li{
  float: left;
  margin-right: 28px;
  margin-bottom: 25px;
}
.favourite ul li:nth-child(3n){
  
  margin-right: 0;
}
.favourite ul li p{
  margin: 5px 0;
  width: 300px;
  line-height: 25px;
  height: 70px;
  padding: 5px;
  overflow: scroll;
}

.full-screen{
  position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 99995000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
}
.full-screen img{
  width: 100%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.full-screen .full-info{
  text-align: center;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);

}
.full-screen .full-info:hover{
  color: rgba(255, 255, 255, 0.7);

}

.full-close{
  background: url(../img/icon.png) 3px -693px no-repeat rgba(34,34,34,.9);
  background-size: 17px auto;
}

.zuoyouming{
  position: relative;
  left: 0;
  top:110px;
  font-size: 25px;
  z-index: 1001;
  color: #fff;
  background-color: #aaa;
}
.zuoyouming p{
  margin-top: 15px;
  font-family: serif;
}
.zuoyouming-container{
  width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}
.music-item{
  position: relative;
}
.mp3{
  position: absolute;
  top: 55px;
  left: -135px;
  width: 300px;
  height: 300px;
  background: rgb(241 243 244);
  border-radius: 15px;

}
#mp3{
  outline: none;
}
.music-wrap{
  height: 224px;
  overflow: scroll;
}

.music-wrap li{
  width: 300px;
  padding: 0px 15px;
  padding-right: 4px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e1e1e3;
  cursor: pointer;
}
.music-wrap li:hover{
  background: #e1e1e3;

}
.music-wrap li.music-ready:hover>.song-oprate>.icon-bofang{
  display: inline-block;
}
/* .music-wrap li.music-playing:hover>.song-oprate>.xui-playing{
  display: inline-block;
} */
.song-name{
  float: left;
  width: 200px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
.song-oprate{
  float:right;
  width: 40px;
  height: 40px;
 
  text-align: center;
}

.song-oprate .iconfont-set{
  color: red;
  font-size: 30px;

}

.song-oprate .icon-bofang{
  font-size: 20px;
  line-height: 41px;
  color: grey;
  display: none;
}

.song-oprate .icon-zantingtingzhi{
  font-size: 22px;
  color: grey;
  line-height: 40px;
}
.xui-playing {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  font-size: 10px;
  width: 20px;
  height: 16px;
  margin-top: 5px;
}

.xui-playing::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden
}

.xui-playing i {
  display: inline-block;
  width: 2px;
  height: 16px;
  border-radius: 6px;
  background: #f86442;
  -webkit-animation: is-playing .5s ease infinite alternate;
  animation: is-playing .5s ease infinite alternate;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom
}

.xui-playing i:nth-child(1) {
  -webkit-animation-delay: .15s;
  animation-delay: .15s
}

.xui-playing i:nth-child(2) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

.xui-playing i:nth-child(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s
}

.xui-playing i:nth-child(4) {
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}

@-webkit-keyframes is-playing {
  0% {
      -webkit-transform: scaleY(.2);
      transform: scaleY(.2)
  }

  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1)
  }
}

@keyframes is-playing {
  0% {
      -webkit-transform: scaleY(.2);
      transform: scaleY(.2)
  }

  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1)
  }
}

