/*==全局样式==*/
*{padding:0;margin:0;    box-sizing: border-box;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;}
img,input{border:none;vertical-align:middle;}
html{overflow-y:scroll;}
ul,ol{list-style-type:none;}
th,td,input{font-size:12px;}
input:focus{
    outline: none;
}
h3{font-size:14px;}
button{border:none;cursor:pointer;font-size:12px;background-color:transparent;}
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
a:link,a:visited{text-decoration:none;color:#333;}
a:hover,a:active{    color: #d09a56;}
.clearfix{
   
        content:"";
        display: block;
        clear:both;
}
.green {
    color: #14ba89;
}
.orange {
    color: #f1523a;
}
.red{
    color: red;;
}
.gray {
    color: #808080;
}
.silver{
    color: silver;
}
body {
   
    font: 12px 'helvetica neue',arial,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #2e2e2e;
    background-color: #fafafc;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}