.todo{
    width: 575px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 25px;
    position: relative;
}
.todo .clock{
    position: absolute;
    background: none;
    width: 165px;
    height: 30px;
    top: -20px;
    right: 0;
    color: white;
    font-size: 13px;
}
.todo ul li{
    list-style: none;
    margin: 0;padding: 0;
    height: 52px;
}
.todo ul.todo-content li{
    height: 37px;
}
.todo ul li>div{
    float: left;
    width: 100px;
    height: 50px;
   border: 1px solid rgb(240, 240, 240);
   text-align: center;
   line-height: 50px;
   
}   
.todo ul.todo-content li>div{
    height: 35px;
    line-height: 35px;
}
.todo ul li>div.event-wrap{
    overflow: auto;
}

.todo ul.title li:nth-child(1){
    height: 22px;
   
}
.todo ul.title li:nth-child(1)>div{
    height: 20px;
    line-height:20px;
    
}
.todo ul li>div:nth-child(1){
    width: 50px;
}
.todo ul li>div:nth-child(2){
    width: 220px;
}
.todo ul li>div:nth-child(3){
    width: 175px;
}
.todo ul li>div:nth-child(4){
    width: 50px;
}
.todo ul li>div:nth-child(5){
    width: 50px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.time-div{
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
}
#todo-textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}
.todo .icon-wancheng2,.todo .icon-weiwancheng2{
    font-size:23px;
}
.todo .icon-wancheng2{

    color: green;
}
.todo .icon-weiwancheng2{
    color: red;
}
.todo .icon-naozhong{
    font-size: 28px;
    color: orange;

}
.todo .text{
    line-height: 14px;
    display: inline-block;

    vertical-align: middle;
}
.todo-content{
    overflow: scroll;
    height: 180px;
   
}
.todo ul{
    width: 561px;
    margin: 0px auto;
}

.todo .icon-tixing2{
    color: orange;cursor: pointer;
}
.todo ul.title .icon-butixing{
    cursor: pointer;
    color: #989898
}
.remain-time{
    display: inline-block;
    padding: 0 1px;
    height: 13px;
    line-height: 13px;
    border-radius: 5px;
    text-align: center;
    margin-left: 2px;
  
    color: white;
}
#todo-date-input,#todo-time-input{
    border: none;
    color: #989898;
    vertical-align: middle;
}
ul.title .time-div{
    color: #989898 
}
#everyday-checkbox{
    vertical-align: middle;
}
ul.todo-content li:nth-child(even)>div{
    background: rgb(254 255 228);
}
ul.todo-content li:nth-child(odd)>div{
    background:rgb(237 255 221 / 60%);
}
#todo-remind{
  
    width: 280px;
 
    text-align: center;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.545);
    color: red;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -140px;
}

#todo-remind .text{
    width: 239px;
   
    line-height: 37px;
    overflow: scroll;
    float: left;
    font-size: 15px;
}
#todo-remind .button{
    width: 38px;
    height: 38px;
    line-height: 38px;
   
    float: right;
}